In [32]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('/content/or2_usca_clean.csv')
df.head(20)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,494110,21121,SET/10 RED SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA
1,494110,21122,SET/10 PINK SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA
2,494110,21123,SET/10 IVORY SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA
3,494110,21124,SET/10 BLUE SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA
4,494110,21210,SET OF 72 RETRO SPOT PAPER DOILIES,24,2010-01-11 12:29,1.45,12549,USA
5,494110,21213,PACK OF 72 SKULL CAKE CASES,24,2010-01-11 12:29,0.55,12549,USA
6,494110,21268,VINTAGE BLUE TINSEL REEL,24,2010-01-11 12:29,2.10,12549,USA
7,494110,21354,TOAST ITS - BEST MUM,12,2010-01-11 12:29,1.25,12549,USA
8,494110,21412,VINTAGE GOLD TINSEL REEL,11,2010-01-11 12:29,0.42,12549,USA
9,494110,21439,BASKET OF TOADSTOOLS,12,2010-01-11 12:29,1.25,12549,USA
10,494110,21731,RED TOADSTOOL LED NIGHT LIGHT,12,2010-01-11 12:29,1.65,12549,USA
11,494110,22083,PAPER CHAIN KIT RETRO SPOT,6,2010-01-11 12:29,2.95,12549,USA
12,494110,22084,PAPER CHAIN KIT EMPIRE,6,2010-01-11 12:29,2.95,12549,USA
13,494110,22085,PAPER CHAIN KIT SKULLS,6,2010-01-11 12:29,2.95,12549,USA
14,494110,22086,PAPER CHAIN KIT 50'S CHRISTMAS,6,2010-01-11 12:29,2.95,12549,USA
15,494110,22087,PAPER BUNTING WHITE LACE,6,2010-01-11 12:29,2.95,12549,USA
16,494110,22138,BAKING SET 9 PIECE RETROSPOT,6,2010-01-11 12:29,4.95,12549,USA
17,494110,84988,SET OF 72 PINK HEART PAPER DOILIES,12,2010-01-11 12:29,1.45,12549,USA
18,494113,21355,TOAST ITS - I LOVE YOU,120,2010-01-11 12:30,1.25,12549,USA
19,494891,20971,PINK BLUE FELT CRAFT TRINKET BOX,12,2010-01-19 13:23,1.25,12733,USA

In [131]:
unique_des = df['Description'].unique().tolist()
len(unique_des)

471

In [50]:
df2 = df.groupby(pd.DatetimeIndex(df['InvoiceDate']))['Quantity'].sum()
len(df2)

23

In [6]:
!wget http://nlp.stanford.edu/data/glove.6B.zip
!unzip -q glove.6B.zip

--2023-01-15 00:08:50--  http://nlp.stanford.edu/data/glove.6B.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://nlp.stanford.edu/data/glove.6B.zip [following]
--2023-01-15 00:08:50--  https://nlp.stanford.edu/data/glove.6B.zip
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://downloads.cs.stanford.edu/nlp/data/glove.6B.zip [following]
--2023-01-15 00:08:50--  https://downloads.cs.stanford.edu/nlp/data/glove.6B.zip
Resolving downloads.cs.stanford.edu (downloads.cs.stanford.edu)... 171.64.64.22
Connecting to downloads.cs.stanford.edu (downloads.cs.stanford.edu)|171.64.64.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 862182613 (822M) [application/zip]
Saving to: ‘glove.6B.zip’

glove.6B.zip        100%[===================>] 822.24M  5.02MB/s    in 2m 39s

2023-01-15 00:11:29 (5.19 MB/s) - ‘glove.6B.zip’ saved [862182613/862182613]

In [122]:
import collections
from pandas.core.common import Collection
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from gensim.models import Word2Vec
from sklearn.cluster import AgglomerativeClustering

# list of retail items
items = unique_des

# get the last two words of each description
descriptions = [item.split() for item in items]
last_two_words = [" ".join(description) for description in descriptions]

# convert items to a tf-idf matrix
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(last_two_words)

# perform k-means clustering
kmeans = KMeans(n_clusters=8, random_state=8).fit(X)

# alternatively, can try agglomerative hierarchical clustering
# ahc = AgglomerativeClustering(n_clusters=10)
# ahc.fit(X.toarray())

# print the cluster assignments for each item
clusters = {0: [], 1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: []}
for i, item in enumerate(items):
    # print(f"Item: {item}, Cluster: {kmeans.labels_[i]}")
    clusters[kmeans.labels_[i]].append(item)

In [123]:
# print 5 example items in each cluster 
for key, val in clusters.items():
  print(f"Cluster {key}: {val[5:10]}")

Cluster 0: ['PAPER BUNTING WHITE LACE', 'TOAST ITS - I LOVE YOU ', 'ROSE DU SUD COSMETICS BAG', 'ROSE DU SUD DRAWSTRING BAG', 'ROSE DU SUD CHILDS APRON']
Cluster 1: ['CAKE PLATE LOVEBIRD PINK', 'POCKET BAG PINK PAISELY BROWN SPOT', 'CHARLOTTE BAG , PINK/WHITE SPOTS', 'PINK 3 PIECE MINI DOTS CUTLERY SET', 'LUNCHBOX WITH CUTLERY RETROSPOT ']
Cluster 2: ['TEA BAG PLATE RED SPOTTY ', 'ENGLISH ROSE TEA SET IN GIFT BOX', 'TEA TIME TEAPOT IN GIFT BOX', 'TEA TIME TEA SET IN GIFT BOX', 'TEA TIME CAKE STAND IN GIFT BOX']
Cluster 3: ['SET OF 72 IVORY PAPER DOILIES', 'SET OF 36 MUSHROOM PAPER DOILIES', 'SET OF 72 BLACK PAPER DOILIES ', '36 DOILIES SPACEBOY DESIGN ', 'SET OF 72 SKULL PAPER  DOILIES']
Cluster 4: ['BLUE POLKADOT CUP', 'PINK  POLKADOT PLATE ', 'BLUE POLKADOT PLATE ', 'PARTY PIZZA DISH PINK POLKADOT', 'PARTY PIZZA DISH BLUE POLKADOT']
Cluster 5: ['CAKE STAND 3 TIER MAGIC GARDEN', "PINK FAIRY CAKE CHILD'S APRON", 'PACK OF 20 FAIRY CAKE PAPER NAPKINS', 'PACK OF 72 RETRO SPOT CAKE CASES', 'PACK OF 60 MUSHROOM CAKE CASES']
Cluster 6: ['RETRO RED SPOTTY WASHING UP GLOVES', 'RED PUDDING SPOON', 'RED  EGG  SPOON', 'RED RETROSPOT SMALL MILK JUG', 'RETROSPOT CHILDRENS APRON']
Cluster 7: ['OVERNIGHT BAG VINTAGE ROSE PAISLEY', 'VINTAGE HEADS AND TAILS CARD GAME ', 'VINTAGE UNION JACK SHOPPING BAG', 'TEA COSY VINTAGE UNION JACK', 'SET OF THREE VINTAGE GIFT WRAPS']

In [124]:
# Try some new items! 
new_item = "RED POLKADOT CUPS"
# Convert the new item's description into a word vector
new_vector = vectorizer.transform([new_item])
# Use the predict() method to classify the new item
cluster_label = kmeans.predict(new_vector.toarray())
# Print the cluster label
print(f"The new item '{new_item}' belongs to cluster {cluster_label[0]}")
# Cluster 4: ['BLUE POLKADOT CUP', 'PINK  POLKADOT PLATE ', 'BLUE POLKADOT PLATE ', 'PARTY PIZZA DISH PINK POLKADOT', 'PARTY PIZZA DISH BLUE POLKADOT']
# So it indeed should be in cluster 4

The new item 'RED POLKADOT CUPS' belongs to cluster 4

In [125]:
# Similarly with "RED OVEN MITTS" which goes in 
# Cluster 6: ['RETRO RED SPOTTY WASHING UP GLOVES', 'RED PUDDING SPOON', 'RED  EGG  SPOON', 'RED RETROSPOT SMALL MILK JUG', 'RETROSPOT CHILDRENS APRON']
new_item = "RED OVEN MITTS"
# Convert the new item's description into a word vector
new_vector = vectorizer.transform([new_item])
# Use the predict() method to classify the new item
cluster_label = kmeans.predict(new_vector.toarray())
# Print the cluster label
print(f"The new item '{new_item}' belongs to cluster {cluster_label[0]}")

The new item 'RED OVEN MITTS' belongs to cluster 6

In [126]:
df_sale = df.groupby(pd.DatetimeIndex(df['InvoiceDate']))['Quantity'].sum()
df_sale

InvoiceDate
2010-01-11 12:29:00     263
2010-01-11 12:30:00     120
2010-01-19 13:23:00     391
2010-01-27 10:35:00     569
2010-05-11 12:40:00     377
2010-05-13 12:05:00      36
2010-06-09 15:41:00     336
2010-06-24 16:24:00     213
2010-07-30 16:50:00     133
2010-10-12 15:41:00     129
2010-10-26 17:23:00     671
2010-11-08 15:19:00     223
2010-11-15 13:56:00     234
2011-03-14 13:53:00      88
2011-04-19 16:19:00     137
2011-05-04 10:47:00     504
2011-06-20 09:04:00    1092
2011-07-11 10:33:00    1026
2011-08-25 11:27:00      52
2011-10-10 16:06:00    1228
2011-10-21 12:52:00     489
2011-12-02 10:41:00     196
2011-12-05 10:14:00     408
Name: Quantity, dtype: int64

In [137]:
des = df['Description'].tolist()
cls = []
for d in des:
    new_vector = vectorizer.transform([d])
    # Use the predict() method to classify the new item
    cluster_label = kmeans.predict(new_vector.toarray())
    cls.append(cluster_label[0])

df_product = df.assign(ProductClass=cls)
df_product

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,ProductClass
0,494110,21121,SET/10 RED SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA,4
1,494110,21122,SET/10 PINK SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA,4
2,494110,21123,SET/10 IVORY SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA,4
3,494110,21124,SET/10 BLUE SPOTTY PARTY CANDLES,24,2010-01-11 12:29,1.25,12549,USA,4
4,494110,21210,SET OF 72 RETRO SPOT PAPER DOILIES,24,2010-01-11 12:29,1.45,12549,USA,3
...,...,...,...,...,...,...,...,...,...
626,580553,23366,SET 12 COLOURING PENCILS DOILY,72,2011-12-05 10:14,0.65,12646,USA,5
627,580553,84997A,CHILDRENS CUTLERY POLKADOT GREEN,8,2011-12-05 10:14,4.15,12646,USA,4
628,580553,84997B,CHILDRENS CUTLERY RETROSPOT RED,8,2011-12-05 10:14,4.15,12646,USA,6
629,580553,84997C,CHILDRENS CUTLERY POLKADOT BLUE,8,2011-12-05 10:14,4.15,12646,USA,4
630,580553,84997D,CHILDRENS CUTLERY POLKADOT PINK,8,2011-12-05 10:14,4.15,12646,USA,1

In [157]:
df_customer = df_product.groupby(["Customer ID", "ProductClass"]).size()
df_customer.to_csv('out.csv')

In [163]:
df = pd.read_csv('/content/out.csv')

In [180]:
df

    Customer ID  ProductClass  Quantity
0         12467             0         6
1         12467             7         3
2         12549             0         9
3         12549             1         6
4         12549             2         1
..          ...           ...       ...
65        17444             6         5
66        17444             7         4
67        17844             0         1
68        17844             2         1
69        17844             5         3

[70 rows x 3 columns]

In [184]:
utility_matrix = df.pivot_table(values='Quantity', index='Customer ID', columns='ProductClass', fill_value=0)
utility_matrix.to_csv('utility_matrix.csv')
utility_matrix

ProductClass   0   1   2   3   4   5   6   7
Customer ID
12467          6   0   0   0   0   0   0   3
12549          9   6   1  13   4  11   2   2
12558          5   0   1   1   0   1   1   2
12607         41   8   5  12   6  16   7   6
12634          0   4   0   4   4   6   0   1
12646         11   6   1   0  13   7   6   1
12733         64  17  28   9   2  11  11  14
12741          7   0   0   0   2   1   5   0
15388          7   0   1   0   0   1   0   1
15390         31   7   2   0   8  10  15   4
17443          1   0   0   0   0   0   0   0
17444         88   7   5   6   0  19   5   4
17844          1   0   1   0   0   3   0   0

In [168]:
from sklearn.metrics.pairwise import cosine_similarity
customer_similarity = cosine_similarity(utility_matrix)

In [185]:
# Recommending products for current users 
targets = [i for i in range(utility_matrix.shape[0])]
for target in targets:
    # Find the most similar customers
    similar = customer_similarity[target]

    # Sort the similar customers by similarity
    similar = similar.argsort()[::-1]

    # Get the products purchased by the similar customers, but not by the target customer
    products_to_recommend = []
    for similar_customer in similar:
        products = utility_matrix.columns[(utility_matrix.iloc[similar_customer] > 0) & (utility_matrix.iloc[target] == 0)]
        products_to_recommend.extend(products)

    # Print recommended products
    print(f"Recommended products for {target}th user: {products_to_recommend[:1]}")

Recommended products for 0th user: [2]
Recommended products for 1th user: []
Recommended products for 2th user: [1]
Recommended products for 3th user: []
Recommended products for 4th user: [0]
Recommended products for 5th user: [3]
Recommended products for 6th user: []
Recommended products for 7th user: [1]
Recommended products for 8th user: [1]
Recommended products for 9th user: [3]
Recommended products for 10th user: [2]
Recommended products for 11th user: [4]
Recommended products for 12th user: [1]